.column {
  border-radius: 30px;
  margin: 2px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.currentWeather.column {
  height: 48vh;
  width: auto;
}
.next24h.column {
  height: 35vh;
  width: 12vw;
  flex-shrink: 0;
  max-width: 75px;
}
