p {
  margin: 2px;
}
.column {
  border-radius: 30px;
  padding: 2px;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.currentWeather.column {
  width: auto;
}
.next24h.column {
  width: 12vw;
  flex-shrink: 0;
  max-width: 75px;
}
.next7d.column {
  min-width: 12vw;
  flex-direction: row;
}
