.card {
  border-radius: 2vw;
  height: 45vh;
  width: 95vw;
  overflow: auto;
  margin: 3px;
}
.currentWeather.card {
  background-color: greenyellow;
  height: 50vh;
  font-size: calc(10px + 4vmin);
}
.next24h.card {
  background-color: green;
  display: flex;
  flex-direction: row;
}
