.card {
  border-radius: 2vw;
  height: auto;
  width: 95vw;
  overflow: auto;
  margin: 3px;
}
.currentWeather.card {
  background-color: greenyellow;
  font-size: calc(10px + 8vmin);
}
.next24h.card,
.next7d.card {
  background-color: green;
  display: flex;
  flex-direction: row;
}
.next7d.card {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
